<h1 class="text-2xl font-bold mb-4">Produtos</h1>
<%= link_to "Novo", new_admin_product_path, class: "btn-primary mb-4" %>

<table class="min-w-full border">
  <tr class="bg-gray-100">
    <th class="p-2 text-left">Nome</th>
    <th class="p-2">Preço</th>
    <th class="p-2">Variantes</th>
    <th class="p-2"></th>
  </tr>
  <% @products.each do |p| %>
    <tr class="border-t">
      <td class="p-2"><%= p.name %></td>
      <td class="p-2"><%= number_to_currency p.price %></td>
      <td class="p-2 text-center"><%= p.product_variants.count %></td>
      <td class="p-2">
        <%= link_to "Editar", edit_panel_product_path(p.id), class: "text-blue-600" %> |
        <%= link_to "Excluir", panel_product_path(p.id),
              data: { turbo_method: :delete, turbo_confirm: "Confirma?" },
              class: "text-red-600" %>
      </td>
    </tr>
  <% end %>
</table>